<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Orchestration Demo</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="vgs-checkout"></div>
  <script src="https://checkout.verygoodvault.com/v1"></script>
  <script>
    const checkout = new VGSCheckout.Checkout({
      vaultId: "{{tnt}}",
      environment: "sandbox",
      billingAddress: false,
      authToken: "{{accessToken}}",
    });

    checkout.mount("#vgs-checkout", {});
    checkout.on('SubmitStart', ({data}) => {
      checkout.update({
        formStatus: "loading"
      });
    })
    checkout.on('SubmitSuccess', ({ data }) => {
      fetch('./transfers', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({"financial_instrument": data.data.id}),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
        checkout.update({
          formStatus: "success"
        });
      })
      .catch((error) => {
        console.error('Error:', error);
        checkout.update({
          formStatus: "error"
        });
      });
    })
  </script>
</body>
</html>