<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Orchestration Demo</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="vgs-checkout"></div>
  <a href="" id="reload">Reload page</a>
  <script src="https://checkout.verygoodvault.com/v1/"></script>
  <script>
    const checkout = new VGSCheckout.Checkout({
      vaultId: "{{customerVaultId}}",
      environment: "sandbox",
      billingAddress: false,
      submitPath: '/checkout'
    });

    checkout.mount("#vgs-checkout", {
      labels: {
        submit: {
          ctaLabel: 'PAY $1'
        }
      }
    });
    checkout.on('SubmitStart', ({data}) => {
      checkout.update({
        formStatus: "loading"
      });
    })

    checkout.on('SubmitSuccess', ({ data }) => {
      if (data.data.state === 'successful') {
        checkout.update({
          formStatus: "success"
        });
      } else {
        checkout.update({
          formStatus: "error"
        });
      }
      document.getElementById('reload').style.display = "inline-block"
    })
  </script>
</body>
</html>