<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Orchestration Demo</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="flex flex-row items-center justify-center">
    <h1 class="text-4xl font-bold">Universal Checkout: Default Flow</h1>
    <a href="{{ url_for('saved_cards') }}">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mx-8 py-2 px-4 rounded text-sm">
        Switch to Saved Crads flow
      </button>
    </a>
  </div>
  
  <div class="container mx-auto flex flex-row">
    <div class="basis-2/3">
      <div id="vgs-checkout"></div>
      <input type="checkbox" id="3ds-flow" name="3ds-flow">
      <label for="3ds-flow">3DS Flow</label>
    </div>
    <div class="basis-1/3 demo-data_wr">
      <h2 class="text-xl font-bold">Demo credit card data</h2>
      <div class="shadow-md rounded-md demo-data">
        <div class="flex flex-row">
          <div class="basis-1/2 text-right opacity-50">Cardholder Name:&nbsp;</div>
          <div class="basis-1/2 text-left">Thomas Anderson</div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/2 text-right opacity-50">Card number:&nbsp;</div>
          <div class="basis-1/2 text-left">4111 1111 1111 1111</div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/2 text-right opacity-50">Expiration Date:&nbsp;</div>
          <div class="basis-1/2 text-left">12/23</div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/2 text-right opacity-50">CVC:&nbsp;</div>
          <div class="basis-1/2 text-left">123</div>
        </div>
      </div>
      <h2 class="text-xl font-bold mt-3">3DS demo credit card data</h2>
      <div class="shadow-md rounded-md demo-data">
        <div class="flex flex-row">
          <div class="basis-1/2 text-right opacity-50">Cardholder Name:&nbsp;</div>
          <div class="basis-1/2 text-left">Thomas Anderson</div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/2 text-right opacity-50">Card number:&nbsp;</div>
          <div class="basis-1/2 text-left">4917 6100 0000 0000</div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/2 text-right opacity-50">Expiration Date:&nbsp;</div>
          <div class="basis-1/2 text-left">03/30</div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/2 text-right opacity-50">CVC:&nbsp;</div>
          <div class="basis-1/2 text-left">737</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto flex flex-row" id="iframe-container">
  </div>
  
  <a href="" id="reload">Send one more time</a>
  <script src="{{ url_for('static', filename='/main.8f326946.js') }}"></script>
  <!-- XXX: a dirty local build of checkout.js to use https://payments.sandbox.verygoodsecurity.app instead -->
  <script src="{{ url_for('static', filename='/dist/checkout.umd.js') }}"></script>
  <script>
    const apiURL = "http://localhost:8080"
    // const apiClient = new APIClient(
    //   "https://payments.sandbox.verygoodsecurity.app",
    //   {{ access_token | tojson }},
    //   true
    // );

    const apiClient = new APIClient(
      apiURL,
      "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJtdWx0aXBsZXhpbmctYXBwLU1PQ0tfVkFVTFRfSUQtTU9DS19VU0VSTkFNRSIsInN1YiI6IjZkODJlOWFmLWQwZjMtNGQ5NS04MTFlLTljZGI3Y2ZiODhmOSIsImF6cCI6Im11bHRpcGxleGluZy1hcHAtTU9DS19WQVVMVF9JRC1NT0NLX1VTRVJOQU1FIiwianRpIjoiYjJlYzYxY2YtNDM3MS00ZjVhLWExYmYtOTVmMzA3MDE0Njg0IiwiY2xpZW50SWQiOiJtdWx0aXBsZXhpbmctYXBwLU1PQ0tfVkFVTFRfSUQtTU9DS19VU0VSTkFNRSIsInJlc291cmNlX2FjY2VzcyI6eyJtdWx0aXBsZXhpbmctYXBwLU1PQ0tfVkFVTFRfSUQtTU9DS19VU0VSTkFNRSI6eyJyb2xlcyI6WyJmaW5hbmNpYWwtaW5zdHJ1bWVudHM6d3JpdGUiLCJ0cmFuc2ZlcnM6YWRtaW4iXX19fQ.pfoSMzeEJSQ0qjAaJFC7-8m377tHmJ1n_mewpiXSk0c",
      true
    );

    const iframeContainer = document.getElementById("iframe-container")
    const process3DSAuth = async (threeDSAuthentication, cardId) => {
        console.info("Processing 3ds auth", threeDSAuthentication)
        if (!threeDSAuthentication) {
          return
        }
        while (true) {
          const state = threeDSAuthentication.state
          switch(state) {
            case "successful": {
              const resp = await apiClient.createTransfer({
                amount: 100,
                currency: "USD",
                source: cardId,
                threeDSAuthentication: threeDSAuthentication.id,
              })
              if (resp.data.state == 'successful') {
                checkout.update({
                  formStatus: "success"
                });
              } else {
                checkout.update({
                  formStatus: "error"
                });
              }
              document.getElementById('reload').style.display = "inline-block"
              return;
            }
            case "device_fingerprint": {
              threeDSAuthentication = await performAction(threeDSAuthentication, {
                apiClient,
                iframeContainer,
                origin: apiURL,
                decorateIframe: (iframe) => {
                  iframe.style.display = "none";
                },
              })
              break
            }
            case "challenge": {
              threeDSAuthentication = await performAction(threeDSAuthentication, {
                apiClient,
                iframeContainer,
                origin: apiURL,
                decorateIframe: (iframe) => {
                  iframe.style.width = "100%";
                  iframe.style.height = "550px";
                },
              })
              break
            }
            default:
              checkout.update({
                formStatus: "error"
              });
              return
          }
        }
      }

    const checkout = new VGSCheckout.Checkout({
      vaultId: "{{customerVaultId}}",
      environment: "sandbox",
      accessToken: "{{access_token}}",
      billingAddress: true ,
      billingAddressConfiguration: {
        validCountries: ["US"],
        country: {
          visible: false
        },
        address1: {
          visible: false
        },
        address2: {
          visible: false
        },
        city: {
          visible: false
        }
      },
    });

    checkout.mount("#vgs-checkout", {
      labels: {
        submit: {
          ctaLabel: "Pay $1"
        }
      },
    });
    checkout.on('SubmitSuccess', (data) => {
      const threeDSFlow = document.getElementById("3ds-flow").checked

      if (threeDSFlow) {
        const browserInfo = collectBrowserInfo()
        apiClient.createThreeDSAuthentication({
          card: "FNxsnzmA3Pv1yoDSebcr1waZ",
          amount: 100,
          currency: "USD",
          origin: window.location.origin,
          browserInfo: collectBrowserInfo(),
        })
        // fetch('/3ds_flow', {
        //   method: 'POST',
        //   headers: {
        //     'Content-Type': 'application/json',
        //     "Accept": 'application/json',
        //   },
        //   body: JSON.stringify({
        //     fin_instrument: data.data.data,
        //     origin: window.location.origin,
        //     browser_info: {
        //       "java_enabled": browserInfo.javaEnabled,
        //       "language": browserInfo.language,
        //       "color_depth": browserInfo.colorDepth,
        //       "screen_width": browserInfo.screenWidth,
        //       "screen_height": browserInfo.screenHeight,
        //       "timezone": browserInfo.timeZoneOffset,
        //       "user_agent": browserInfo.userAgent,
        //     }
        //   }),
        // })
        // .then(response => response.json())
        .then((threeDSAuthentication) => {
          return process3DSAuth(threeDSAuthentication, "FNxsnzmA3Pv1yoDSebcr1waZ")
        });
      } else {
        fetch('/checkout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            "Accept": 'application/json',
          },
          body: JSON.stringify(data.data.data),
        })
        .then(response => response.json())
        .then((data) => {
          console.log(data)
          if (data.data.state == 'successful') {
            checkout.update({
              formStatus: "success"
            });
          } else {
            checkout.update({
              formStatus: "error"
            });
          }
          document.getElementById('reload').style.display = "inline-block"
        });
      }
    })

    checkout.on('SubmitFail', ({ data }) => {
      checkout.update({
        formStatus: "error"
      });
      document.getElementById('reload').style.display = "inline-block"
    })
  </script>
</body>
</html>
